<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="import" href="/bower_components/app-router/app-router.html"> -->

<dom-module id="visor-transferencias">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../estilo.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
      :host {
        display: block;
        background: white;
      }
    </style>


    <iron-ajax id="hacerTransferencia"
      url="http://localhost:3000/apitechu/v5/transferencias2"
      method="PUT"
      handle-as="json"
      on-response="mostrarResultadoTransferencia"
      on-error="mostrarErrorTransferencias">
    </iron-ajax>



        <table style="color:DARKSLATEGRAY" id="tablacuentas" class="table table-hover w3-table-all w3-card-4">
          <tbody>
            <tr> <td > IBAN</td> <td>SALDO</td> </tr>
            <template is = "dom-repeat" items={{cuentas}}>


                <!--<td>{{index}}</td> -->
            <tr on-click="mostrarIbanOrigen">
                <td>{{item.iban}} </td> <td>{{item.saldo}} </td>
                <!--  <td> <a class="btn btn-info" href="/movimientos/[[item.iban]]"> Ver Movimientos</td>  -->

              </tr>
            </template>
          </tbody>

      </table>

</br>

<form hidden$="{{transferenciaok}}">

    <div class="formm-group row" style="color:Blue"  hidden$="{{transferenciaok}}">

          <label for="nombre destino" class="col-sm-3 col-form-label col-form-label-lg"> IBAN cuenta origen:</label>
    <!--  <div class="cajasimple" text-align:left> IBAN cuenta origen:</div> -->
          <div class="col-sm-7">
            <input type="text" class="form-control form-control-lg" value={{ibanorigen::input}} />
          </div>
    </div>

    <div class="formm-group row" style="color:Blue"  hidden$="{{transferenciaok}}">

        <label for="nombre destino" class="col-sm-3 col-form-label col-form-label-lg"  >IBAN cuenta destino:</label>
      <!--<div class="cajasimple" text-align:left> IBAN cuenta destino:</div> -->
        <div class="col-sm-7">
          <input type="text" class="form-control form-control-lg"  value={{ibandestino::input}} />
        </div>
    </div>

  <div class="formm-group row" style="color:Blue"  hidden$="{{transferenciaok}}">

      <label for="cantidad a transferir" class="col-sm-3 col-form-label col-form-label-lg"  > Cantidad a transferir:</label>
      <!-- <div class="cajasimple" text-align:left> Cantidad a transferir:</div> -->
      <div class="col-sm-7">
      <input type="number" class="form-control form-control-lg"  value={{importe::input}} />
      </div>

   </div>
<br>
</form>

<button on-click="aceptar" class="w3-button w3-blue w3-hover-teal" hidden$="{{transferenciaok}}"> Aceptar </button>
<button on-click="cancelar" class="w3-button w3-blue w3-hover-teal" hidden$="{{transferenciaok}}">Cancelar</button>


  <div class="cajasimple" hidden$="{{!transferenciaok}}">

    Se ha realizado la transferencia de forma satisfactoria.
    <br>
    Nuevo saldo Origen {{ibanorigen}} : {{nuevosaldoorigen}}
    <br>
    Nuevo Saldo Destino {{ibandestino}} : {{nuevosaldodestino}}
    <br>
    <br>
     Quiere hacer otra?

  </div>
  <button on-click="cancelar" class="btn btn-primary" hidden$="{{!transferenciaok}}"> Volver</button>
  <button on-click="otra" class="btn btn-primary" hidden$="{{!transferenciaok}}"> Otra </button>

  <span hidden$="{{!errortransferencia}}">
  </br>
</br>
  <div class="cajasimple">Oops, cuenta destino errónea o origen sin saldo, por favor, introduce de nuevo los datos.</div>
  </span>


  </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorTransferencias extends Polymer.Element {
      static get is() { return 'visor-transferencias'; }
      static get properties() {
        return {
          cuentas:{
            type:Array

          },
          ibanorigen:{
            type: String
          },
          ibandestino:{
            type: String
          },
          importe:{
            type: Number,
            Value:0
          },
          transferenciaok:{
            type: Boolean,
            value: false
          },
          errortransferencia:{
            type: Boolean,
            value: false
          },
          nuevosaldoorigen:{
            type: Number,
            Value:0
          },
          nuevosaldodestino:{
            type: Number,
            Value:0
          }
        };
        }
        mostrarResultadoTransferencia(resultado){
          this.transferenciaok= true
          console.log("4.-Llegaron los resultados")
          console.log("5.-this.transferenciaok: ",this.transferenciaok)
          console.log(resultado.detail.response)
          this.nuevosaldoorigen=resultado.detail.response.saldoOrigen
          this.nuevosaldodestino=resultado.detail.response.saldoDestino
        }

        aceptar(){
          console.log("1.el usuario ha pulsado el botón aceptar Trasferencia", this.ibanorigen)
          this.$.hacerTransferencia.headers.iban_origen=this.ibanorigen
          this.$.hacerTransferencia.headers.iban_destino=this.ibandestino
          this.$.hacerTransferencia.headers.importe=parseInt(this.importe)
          console.log("2. voy a enviar la petición; ", this.$.hacerTransferencia.headers)
          this.$.hacerTransferencia.generateRequest()
          console.log("3. Petición enviada")
          this.errortransferencia=false


          }
        mostrarErrorTransferencias(error){
          console.log("4.- llega el error:")
          console.log(error)
          this.transferenciaok=false
          this.errortransferencia=true
        }
        cancelar(e){
          console.log("1.el usuario ha pulsado el botón cancelar ")
          console.log("2. voy a enviar generar un evento para cargar la página de login")
          this.dispatchEvent(new CustomEvent("volveralogin"))
          console.log("3. Petición enviada volveralogin")
      }

        llamarTransferencias(e) {
          console.log("en visor transferencias recibimos estas cuentas para mostrar")
          console.log(e)
          this.cuentas=e
          this.transferenciaok=false
          this.errortransferencia=false
        }

        otra(){
          console.log("se pide otra transferencia")
            this.ibandestino=""
            this.importe=0
          this.transferenciaok=false
        }
        mostrarIbanOrigen(e){
          console.log(e)
          this.ibanorigen = e.model.item.iban
          console.log(this.ibanorigen)
        }

    }

    window.customElements.define(VisorTransferencias.is, VisorTransferencias);
  </script>
</dom-module>
