<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="import" href="/bower_components/app-router/app-router.html">



<dom-module id="login-usuario">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
      :host {
        display: block;
      }
    </style>


    <iron-ajax id="hacerLogin"
      url="http://localhost:3000/apitechu/v4/login"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoLogin"
      on-error="mostrarError">
    </iron-ajax>


    <div class="formm-group">

      <div class="cajasimple">Introduzca el email</div>
      <input type="email" class="form-control" value={{email::input}} />
    </br>


      <div class="cajasimple">Introduzca su password</div>
      <input type="password" class="form-control" value={{password::input}} />
    </br>
      <button on-click="logar" class="w3-button w3-blue w3-hover-teal"> Login </button>
      <button on-click="alta" class="w3-button w3-blue w3-hover-teal"> Eres nuevo? </button>
  </div>

  <span hidden$="{{!onerror}}">
  </br>
  <div class="cajasimple"> Oops, Login erróneo, por favor, introduce de nuevo tus credenciales</div>
  </span>

  </template>

  <script>
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            //value: "bvanbruggen2v@illinois.edu"
            value: "b@b.com"
          },
          password:{
            type: String,
            //value:"yA8TVC8Fq7"
            value:"Pepito1"
          },
          logado:{
            type: Boolean,
            value: false
          },
          onerror:{
            type: Boolean,
            value: false
          },
          nuevo:{
            type: Boolean,
            value: false
          },
          id:{
            type:String
          }
        };
        }
        mostrarResultadoLogin(resultado){
          console.log("4.-Llegaron los resultados")
          console.log(resultado)
          console.log("5.-Proceso los resultados")
          this.logado = true
          console.log("busco el id")
          this.id= resultado.detail.response.id
          console.log(this.id)
          console.log("ON-CLICK","Alguien ha pulsado el botón")

          this.dispatchEvent(new CustomEvent("hehechologin",{"detail":{"id":this.id,"logado":this.logado}}))

        }
        logar(e){
          console.log("1.el usuario ha pulsado el botón")
          this.$.hacerLogin.headers.email=this.email
          this.$.hacerLogin.headers.password=this.password
          console.log("2. voy a enviar la petición")
          this.onerror=false
          this.$.hacerLogin.generateRequest()
          console.log("3. Petición enviada")

        }
        mostrarError(error){
          console.log("4.- llega el error de login:")
          console.log(error)
          this.logado=false
          this.onerror=true

        }
        alta(e){
          console.log("1.el usuario ha pulsado el botón NUEVO CLIENTE ")
          /*this.$.hacerLogin.headers.email=this.email
          this.$.hacerLogin.headers.password=this.password*/
          console.log("2. voy a enviar generar un evento para cargar la página de alta")
          this.nuevo=true
          this.dispatchEvent(new CustomEvent("nuevaalta",{"detail":{"nuevo":this.nuevo}}))
          console.log("3. Petición enviada")

        }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
