<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      :host {
        display: block;

      }
    </style>
    <iron-ajax id="visorMovimientos"

      url="http://localhost:3000/apitechu/v5/movimientos"
      handle-as="json"
      on-response="mostrarMovimientos"
      on-error="mostrarErrorMovimientos">
    </iron-ajax>

    <template is = "dom-repeat" items="{{movimientos}}">
      <span> {{item.movimiento}}</span>
    </template>

      <table id="tablamovimientos" class="table table-hover w3-table-all w3-card-4">
        <thead><th> MOVIMIENTOS {{iban2}}

          </th>
        </thead>
          <tbody>

            <template is = "dom-repeat" items={{movimientos}}>

            <tr>
              <td>{{index}}</td>
              <td>{{item.id}}</td>
              <td>{{item.fecha}}</td>
              <td>{{item.importe}}</td>
              <td>{{item.moneda}}</td>
            </tr>

            </template>
          </tbody>
    </table>


  </template>
  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban2:{
            type:String,
            value:""
          },
          movimientos:{
            type:Array

          },
          seleccion:{
            type:String,
            value:"Nada"
          }
        };serve
      }
      mostrarMovimientos(resultado){
        console.log("la respuesta de movimientos",resultado.detail.response)
        console.log(resultado.detail.response[0].movimientos)
        this.movimientos=resultado.detail.response[0].movimientos

      }
      mostrarErrorMovimientos(error){
        console.log(error.detail.response)
      }
      llamarMovimientos(iban){

        console.log("el iban recibido es",iban)
        if (iban instanceof Array){
          console.log("tenemos un array", iban)
          for (var i = 0; i < iban.length; i++) {
            var iban_solo=JSON.stringify(iban[i])
            console.log(iban_solo.substring(8,iban_solo.length-1))
            iban_solo=iban_solo.substring(8,iban_solo.length-1)
            console.log("llamamos al iron ajax con",iban_solo)
            this.iban2=iban_solo
            this.$.visorMovimientos.headers.iban=iban_solo
            this.$.visorMovimientos.generateRequest()
          }

      }
        else{
          console.log("tenemos un string",iban)
          var iban_solo='"' + iban + '"'
          console.log("llamamos al iron ajax con",iban_solo)
          this.iban2=iban_solo
          this.$.visorMovimientos.headers.iban=iban_solo
          this.$.visorMovimientos.generateRequest()

      }


      }
  }





    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
