<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="../../estilo.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      :host {
        display: block;
        background: GhostWhite ;
      }
    </style>
    <iron-ajax id="visorCuentas"

      url="http://localhost:3000/apitechu/v5/cuentas2"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>


      <table style="color:DARKSLATEGRAY" id="tablacuentas" class="table table-hover w3-table-all w3-card-4">
        <thead><th>
          <button on-click = "transferencias" type="button" class="w3-button w3-blue w3-hover-teal">Transferencias</button></td>
          <button on-click="cancelar" type="button" class="w3-button w3-blue w3-hover-teal">Inicio</button>
          </th>
        </thead>
        <tbody>
          <tr> <td > IBAN</td> <td>SALDO</td> </tr>
          <template is = "dom-repeat" items={{cuentas}}>
          <tr on-click="mostrarInfoFila">
                <td>{{item.iban}} </td> <td>{{item.saldo}} </td>
          </tr>
          </template>
        </tbody>

    </table>


  </template>
  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente:{
            type:Number,
            value:298
          },
          cuentas:{
            type:Array

          },
          seleccion:{
            type:String,
            value:"Nada"
          }
        };serve
      }
      mostrarCuentas(resultado){
        console.log(resultado.detail.response)
        this.cuentas=resultado.detail.response
      }
      mostrarErrorCuentas(error){
        console.log(error.detail.response)
      }
      llamarCuentas(e){
        console.log("llamos a cuentas con el id",e.detail.id)
        this.$.visorCuentas.headers.idcliente=e.detail.id
        this.$.visorCuentas.generateRequest()
      }
      movimiento(e){

          console.log("1.el usuario quiere movimientos")
          console.log(this.cuentas)
          console.log("2.lanzo el evento quieromovimientos")
          this.dispatchEvent(new CustomEvent("quieromovimientos",{"detail":{"cuentas":this.cuentas}}))

          console.log("3.- evento lanzado")
      }

      mostrarInfoFila(e) {
              console.log(e)
              this.seleccion = e.model.item.iban
              console.log(this.seleccion)
              this.dispatchEvent(new CustomEvent("quieromovimientos",{"detail":{"iban":this.seleccion}}))
            }


    transferencias(e){
      console.log("1.el usuario ha pulsado el botón TRANSFERENCIAS ")
      console.log("2. voy a enviar generar un evento para cargar la página de TRANSFERENCIAS")
      this.dispatchEvent(new CustomEvent("quierotransferencias",{"detail":{"cuentas":this.cuentas}}))
      console.log("3. Petición enviada")

    }
    cancelar(e){
      console.log("1.el usuario ha pulsado el botón cancelar ")
      console.log("2. voy a enviar generar un evento para cargar la página de login")
      this.dispatchEvent(new CustomEvent("volveralogin"))
      console.log("3. Petición enviada volveralogin")

    }
  }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
