<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<dom-module id="visor-alta">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../../estilo.css" type="text/css" media="all" >
    <style>
      :host {
        display: block;

      }
    </style>


    <iron-ajax id="hacerAlta"
      url="http://localhost:3000/apitechu/v5/alta"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoAlta"
      on-error="mostrarErrorAlta">
    </iron-ajax>

    <iron-ajax id="crearCuenta"
      url="http://localhost:3000/apitechu/v5/cuentainicial"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoCrearcuenta"
      on-error="mostrarError">
    </iron-ajax>


    <div class="w3-container" style="color:DARKSLATEGRAY" hidden$="{{altaok}}">
      <label class="w3-text-blue" for="nombre" > Nombre:</label>
      <input class="w3-input" type="nombre" class="form-control" value={{nombre::input}} />

      <label class="w3-text-blue" for="apellidos">Apellidos:</label>
      <input class="w3-input" type="apellidos" class="form-control" value={{apellidos::input}} />

      <label class="w3-text-blue" for="e-mail" >E-mail:</label>
      <input class="w3-input"type="email" class="form-control" value={{email::input}} />

      <label class="w3-text-blue" for="pwd">Password: (at least one number, one lowercase and one uppercase letter, at least six characters that are letters, numbers or the underscore)</label>
      <input class="w3-input" type="password" class="form-control" value={{password::input}} />

      <label class="w3-text-blue" for="pwd">Confirma password:</label>
      <input class="w3-input" type="password" class="form-control" value={{confirmacion::input}} />

      <button on-click="aceptar" class="w3-button w3-blue w3-hover-teal"> Aceptar </button>
      <button on-click="cancelar" class="w3-button w3-blue w3-hover-teal">Cancelar</button>
  </div>




  <span hidden$="{{!altaok}}">
    <div class="cajasimple" text-align:center> Se ha dado de alta el cliente: {{email}} con ID: {{id}}.</div>
    <div class="cajasimple" text-align:center> Además se ha creado la cuanta ficticia con IBAN: {{cuentadefecto}} con el siguiente movimiento: {{movimientosdefecto}}.:</div>
    <button on-click="cancelar" class="w3-button w3-blue w3-hover-teal">Volver</button>
  </span>

    <span hidden$="{{!erroralta}}">
      <br>
      <div class="cajasimple" text-align:center> El usuario ya existe. Por favor, revisa el email. </div>
      <br>
  </span>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAlta extends Polymer.Element {
      static get is() { return 'visor-alta'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: "pepito@pepito.com"
          },
          password:{
            type: String,
            value:"Pepito01"
          },
          confirmacion:{
            type: String,
            value:"Pepito01"
          },
          nombre: {
            type: String,
            value: "Pepito"
          },
          apellidos:{
            type: String,
            value:"Perez"
          },
          cuentadefecto:{
            type: String,
            value:"Perez"
          },
          movimientosdefecto:{
            type: String

          },
          altaok:{
            type: Boolean,
            value: false
          },
          nuevo:{
            type: Boolean,
            value: false
          },
          erroralta:{
            type: Boolean,
            value: false
          },
          id:{
            type:String
          }
        };
        }
        mostrarResultadoAlta(resultado){
          console.log("4.-Llegaron los resultados")
          console.log(resultado.detail.response)

          this.altaok = true
          this.erroralta =false
          console.log("busco el id")
          this.id= resultado.detail.response.id
          console.log(this.id)

           /* lanzamos el evento*/
          //this.dispatchEvent(new CustomEvent("altaok",{"detail":{"id":this.id,"logado":this.first_name}}))

          // creamos la cuenta por defecto

          console.log("6.Creamos cuenta por defecto")
          this.$.crearCuenta.headers.idcliente=this.id

          //console.log("2. voy a enviar la petición; ", this.$hacerAlta.headers)
          this.$.crearCuenta.generateRequest()
          console.log("3. Petición enviada")
        }

        mostrarResultadoCrearcuenta(resultado){
          console.log("4.-Alta de cuenta ficticia OK")
          console.log(resultado.detail.response)
            this.altaok = true
            this.cuentadefecto=resultado.detail.response.iban
          this.movimientosdefecto=JSON.stringify(resultado.detail.response.movimientos[0])

        }
        aceptar(){
          console.log("1.el usuario ha pulsado el botón aceptar")
          this.$.hacerAlta.headers.email=this.email
          this.$.hacerAlta.headers.password=this.password
          this.$.hacerAlta.headers.first_name=this.nombre
          this.$.hacerAlta.headers.last_name=this.apellidos
          //console.log("2. voy a enviar la petición; ", this.$hacerAlta.headers)
          this.$.hacerAlta.generateRequest()
          console.log("3. Petición enviada")

        }
        mostrarError(error){
          console.log("4.- llega el error:")
          console.log(error)
          this.logado=false
        }
        mostrarErrorAlta(error){
          console.log("4.- llega el error de alta:")
          console.log(error)
          this.logado=false
          this.erroralta=true
        }
        cancelar(e){
          console.log("1.el usuario ha pulsado el botón cancelar ")
          /*this.$.hacerLogin.headers.email=this.email
          this.$.hacerLogin.headers.password=this.password*/
          console.log("2. voy a enviar generar un evento para cargar la página de login")
          this.nuevo=true
          this.altaok=false
          this.dispatchEvent(new CustomEvent("volveralogin"))
          console.log("3. Petición enviada volveralogin")

        }
    }

    window.customElements.define(VisorAlta.is, VisorAlta);
  </script>
</dom-module>
