<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<dom-module id="visor-okalta">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;

      }
    </style>


    <iron-ajax id="crearcuenta"
      url="http://localhost:3000/apitechu/v5/crearcuenta"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoCrearcuenta"
      on-error="mostrarError">
    </iron-ajax>





<div class="container">
<h2>BIENVENIDO, SE HA CREADO SU USUARIO CORRECTAMENTE:</h2>
  <form>
    <div class="form-group">
      <div class="col-xs-4">
      <label for="e-mail">E-mail:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email"  value={{email::input}}>
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" value={{password::input}}>
      <span class="help-block">This is some help text that breaks onto a new line and may extend more than one line.</span>

    </div>
    <button on-click="Inicio" class="btn btn-primary"> INICIO </button>
  </form>
</div>






  <span hidden$="{{!logado}}">
    Bienvenido de nuevo
  </span>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorOkalta extends Polymer.Element {
      static get is() { return 'visor-okalta'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: "pepito@pepito.com"
          },
          password:{
            type: String,
            value:"Pepito01"
          },
          confirmacion:{
            type: String,
            value:"Pepito01"
          },
          nombre: {
            type: String,
            value: "Pepito"
          },
          apellidos:{
            type: String,
            value:"Perez"
          },
          logado:{
            type: Boolean,
            value: false
          },
          nuevo:{
            type: Boolean,
            value: false
          },
          id:{
            type:String
          }
        };
        }
        mostrarResultadoCrearcuenta(resultado){
          console.log("4.-Llegaron los resultados")
          console.log(resultado)
          console.log("5.-Proceso los resultados")
          this.logado = false
          console.log("busco el id")
          this.id= resultado.detail.response.id
          console.log(this.id)
           /* lanzamos el evento*/
          this.dispatchEvent(new CustomEvent("altaok",{"detail":{"id":this.id,"logado":this.first_name}}))

        }
        Inicio(){
          console.log("1.el usuario ha pulsado el botón INICIO")


        }
        mostrarError(error){
          console.log("4.- llega el error:")
          console.log(error)
          this.logado=false
        }
        cancelar(e){
          console.log("1.el usuario ha pulsado el botón cancelar ")
          /*this.$.hacerLogin.headers.email=this.email
          this.$.hacerLogin.headers.password=this.password*/
          console.log("2. voy a enviar generar un evento para cargar la página de login")
          this.nuevo=true
          this.dispatchEvent(new CustomEvent("nuevaalta",{"detail":{"nuevo":this.nuevo}}))
          console.log("3. Petición enviada")

        }
    }

    window.customElements.define(VisorOkalta.is, VisorOkalta);
  </script>
</dom-module>
