html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
  html{
  	height: 100%;
  }

  /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

*, *:after, *:before {
  box-sizing: border-box; }
body {
	background-color: #439FE0;
	color: #ffffff;

	height: 100%;
	min-height: 100%;
}
.section__main {
	width: 100%;

	margin: auto;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	height: 100%;
	min-height: 100%;
	/*background: url(http://ernestojimenez.net/background.jpg);*/
	background-size: cover;
}
.section__content {
	width: 60%;
	max-width: 1400px;
	padding-top: 48px;
	margin: auto;
}
.weather__block {
	width: 100%;

	float: left;

}
@media only screen and (min-width: 37.5em) {
    .weather__block {
      width: 45%;
	margin: 1%;

      }
}

h1 {
	font-size: 26px;
   	font-size: 1.625rem;
   	padding: 2rem;
   	margin-bottom: 1rem;
}
h2 {
	font-size: 18px;
	font-size: 1.3rem;
	margin-bottom: 48px;
}
.wi, .weather_temperature {
	font-size: 160px;
	font-size: 10rem;
	width: 100%;
	text-align: center;
}
.weather_name {
	font-weight: bold;
	font-size: 20px;
	font-size: 1.2rem;
}
.wi {
	margin-bottom: 22px;
}
