<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="import" href="/bower_components/app-router/app-router.html">



<dom-module id="visor-externa">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../estilo.css" type="text/css" media="all" >
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
      :host {
        display: block;
        background: White ;
      }
    </style>

    <iron-ajax id="hacerLlamada"

     url="http://api.openweathermap.org/data/2.5/forecast?q={{ciudad}}&APPID=7755a5a31662a71da0eebf98b8bba071&units=metric&lang=es&cnt=8"
      method="GET"
      handle-as="json"
      on-response="mostrarResultadoLlamada"
      on-error="mostrarError">
    </iron-ajax>


<main role="main" class="container" style="font-size: 18px">

        <span hidden$="{{!dentro}}">
          </br>
<table>
  <tr>
    <td>
<div class="cajasimple" text-align:center> INFORMACIÓN METEOROLÓGICA HORARIA: </div>
</td>
<td>
<select class="cajasimple" id="busqueda_provincia" on-change="llamarExterna">

<option value='alava'>Álava</option>
<option value='albacete'>Albacete</option>
<option value='alicante'>Alicante/Alacant</option>
<option value='almeria'>Almería</option>
<option value='asturias'>Asturias</option>
<option value='avila'>Ávila</option>
<option value='badajoz'>Badajoz</option>
<option value='barcelona'>Barcelona</option>
<option value='burgos'>Burgos</option>
<option value='caceres'>Cáceres</option>
<option value='cadiz'>Cádiz</option>
<option value='cantabria'>Cantabria</option>
<option value='castellon'>Castellón/Castelló</option>
<option value='ceuta'>Ceuta</option>
<option value='ciudadreal'>Ciudad Real</option>
<option value='cordoba'>Córdoba</option>
<option value='cuenca'>Cuenca</option>
<option value='girona'>Girona</option>
<option value='laspalmas'>Las Palmas</option>
<option value='granada'>Granada</option>
<option value='guadalajara'>Guadalajara</option>
<option value='guipuzcoa'>Guipúzcoa</option>
<option value='huelva'>Huelva</option>
<option value='huesca'>Huesca</option>
<option value='illesbalears'>Illes Balears</option>
<option value='jaen'>Jaén</option>
<option value='acoruña'>A Coruña</option>
<option value='larioja'>La Rioja</option>
<option value='leon'>León</option>
<option value='lleida'>Lleida</option>
<option value='lugo'>Lugo</option>
<option value='madrid' selected >Madrid</option>
<option value='malaga'>Málaga</option>
<option value='melilla'>Melilla</option>
<option value='murcia'>Murcia</option>
<option value='navarra'>Navarra</option>
<option value='ourense'>Ourense</option>
<option value='palencia'>Palencia</option>
<option value='pontevedra'>Pontevedra</option>
<option value='salamanca'>Salamanca</option>
<option value='segovia'>Segovia</option>
<option value='sevilla'>Sevilla</option>
<option value='soria'>Soria</option>
<option value='tarragona'>Tarragona</option>
<option value='santacruztenerife'>Santa Cruz de Tenerife</option>
<option value='teruel'>Teruel</option>
<option value='toledo'>Toledo</option>
<option value='valencia'>Valencia/Valéncia</option>
<option value='valladolid'>Valladolid</option>
<option value='vizcaya'>Vizcaya</option>
<option value='zamora'>Zamora</option>
<option value='zaragoza'>Zaragoza</option>

</select>

</td>
</tr>
</table>




          <table class="w3-table-all w3-card-4"   style="text-align: center;" id="tablameteo" >

            <tbody>
              <tr>
                <td valign="middle" font Size="15"> fecha : hora</td>
                <td valign="middle" font Size="15"> temperatura</td>

              </tr>
              <template is = "dom-repeat" items={{predicciones}}>


              <tr>

                  <td valign="middle" font Size="15"> {{item.dt_txt}} </td>
                  <td valign="middle" font Size="15">{{item.main.temp}} </td>

                  <td valign="middle" >
                      <template is ="dom-repeat" items={{item.weather}}>
                      <tr>

                       <td  valign="middle" > {{item.description}} </td>
                       <td valign="middle">
                         <img src="http://openweathermap.org/img/w/{{item.icon}}.png">
                       </td>

                      </tr>
                    </template>

                  </td>

                </tr>
              </template>


            </tbody>

          </table>

    </main>
  </template>

  <script>
    class VisorExterna extends Polymer.Element {
      static get is() { return 'visor-externa'; }
      static get properties() {
        return {
          dentro:{
            type: Boolean,
            value: false
          },
          
            predicciones:{
                type:Array

              },
              ciudad:{
                type: String,
                value: "Madrid"
              },
        };
        }

        llamarExterna()
        {
          console.log("Hacemos la llamada externa")

          console.log("la selección --> ",this.$.busqueda_provincia.value)
          this.ciudad=this.$.busqueda_provincia.value
          this.$.hacerLlamada.generateRequest()
        }

        mostrarResultadoLlamada(resultado){
          console.log("4.-Llegaron los resultados de la Llamada externa")
          console.log(resultado)
          console.log(resultado.detail.response)
          var datos=resultado.detail.response
          console.log("Externa list:",datos.list)
          this.predicciones=datos.list
          console.log("--- :",this.predicciones[0].weather[0].main)
          this.dentro=true
        }



        mostrarError(error){
          console.log("4.- llega el error de la llamada externa:")
          console.log(error)
        }


    }

    window.customElements.define(VisorExterna.is, VisorExterna);
  </script>
</dom-module>
