<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="/src/visor-alta/visor-alta.html">
<link rel="import" href="/src/visor-transferencias/visor-transferencias.html">
<link rel="import" href="/src/visor-externa/visor-externa.html">

<dom-module id="padre-app">
  <template>
    <link rel="stylesheet" href="../../estilo.css" type="text/css" media="all" >
    <link rel="stylesheet" href="/src/visor-externa/externa.css" type="text/css" media="all" >
    <style>
    [hidden] {
      display: none !important;
    }
      :host {
        display: block;
      }
    </style>
<main role="main" class="container">
    <br/>
     </br/>
      </br/>
    </br/>

    <div class="caja">{{mensaje}}</div>

</main>

    <login-usuario hidden$={{!mostrarlogin}} id="lgu" on-hehechologin="procesarLogado" on-hehechologin="procesarExterna" on-nuevaalta="procesarAlta" > </login-usuario>
    <visor-cuentas hidden$={{!mostrarcuentas}} id="vsc" on-quieromovimientos="procesarMovimientos" on-quierotransferencias="procesarTransferencias" on-volveralogin="procesarvolveralogin"></visor-cuentas>
    <visor-movimientos hidden$={{!mostrarmovimientos}} id="vsm"> </visor-movimientos>
    <visor-alta hidden$={{!mostraralta}} id="valta" on-volveralogin="procesarvolveralogin"> </visor-alta>
    <visor-transferencias hidden$={{!mostrartransferencias}} id="vtransf" on-volveralogin="procesarvolveralogin"> </visor-transferencias>
    <visor-externa hidden$={{!mostrarexterna}} id="vexterna"> </visor-externa>
  </template>


  <script>
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          mostrarlogin: {
            type: Boolean,
            value: true
          },
          mostrarcuentas: {
            type:Boolean,
            value:false
          },
          mostrarmovimientos: {
            type:Boolean,
            value:false
          },
          mostraralta: {
            type:Boolean,
            value:false
          },
          mostrartransferencias: {
            type:Boolean,
            value:false
          },
          mostrarexterna: {
            type:Boolean,
            value:false
          },
          mensaje: {
            type:String,
            value:'Bienvenido a su Banco'
          }
        };
      }
      procesar(e){
        console.log("Emisor me ha dicho algo")
        console.log(e)
        this.$.recep.mostrarDatos(e.detail)
      }
      procesarExterna(){
        console.log("A por la externa me ha dicho algo")
        this.mostrarexterna=true
        this.$.vexterna.llamarExterna()
      }
      procesarLogado(e){
        console.log("el login ha enviado")
        console.log(e)
        var id=e.detail.id
        this.mostrarlogin=false
        this.mostrarcuentas=true
        this.procesarExterna()
        this.$.vsc.llamarCuentas(e)

        this.$.vsc.onerror=false
        console.log("mostraralta",this.mostraralta)
        console.log("mostrarcuentas",this.mostrarcuentas)
        console.log("mostrarlogin",this.mostrarlogin)
        console.log("mostrarmovimientos",this.mostrarmovimientos)
        this.mensaje="SUS CUENTAS: Pulse sobre cualquiera para ver sus movimientos "
      }
      procesarMovimientos(e){
        console.log("el visor cuentas ha enviado el evento:")
        console.log(e)
        console.log("el iban",e.detail.iban)
        this.mostrarmovimientos=true
        this.mostrarcuentas=true
       console.log("enviamos el iban",e.detail.iban)
        this.$.vsm.llamarMovimientos(e.detail.iban)
        console.log("mostraralta",this.mostraralta)
        console.log("mostrarcuentas",this.mostrarcuentas)
        console.log("mostrarlogin",this.mostrarlogin)
        console.log("mostrarmovimientos",this.mostrarmovimientos)

      }
      procesarTransferencias(e){
        console.log("el visor cuentas ha enviado el evento:")
        console.log(e)
        this.mostrarmovimientos=false
        this.mostrarcuentas=false
        this.mostrartransferencias=true
        this.mostraralta=false
        this.mostrarlogin=false
        this.mostrarexterna=true
       console.log("enviamos el iban",e.detail.cuentas)
        this.$.vtransf.llamarTransferencias(e.detail.cuentas)
        console.log("mostraralta",this.mostraralta)
        console.log("mostrarcuentas",this.mostrarcuentas)
        console.log("mostrarlogin",this.mostrarlogin)
        console.log("mostrarmovimientos",this.mostrarmovimientos)
        console.log("mostrartransferencias",this.mostrartransferencias)
        console.log("mostrarexterna",this.mostrarexterna)
        this.mensaje="TRANSFERENCIAS: Selecciona una cuenta como origen de la transferencia"
      }
      procesarAlta(e){
        console.log("el visor de login ha enviado el evento:")
        console.log(e)
        //console.log("el iban",e.detail.iban)
        this.mostraralta=true
        this.mostrarlogin=false
       console.log("mostraralta",this.mostraralta)
       console.log("mostrarcuentas",this.mostrarcuentas)
       console.log("mostrarlogin",this.mostrarlogin)
       console.log("mostrarmovimientos",this.mostrarmovimientos)
        //this.$.valta.llamarAlta()
      this.mensaje="Gestionamos su Alta"
      }
      procesarvolveralogin(){
        console.log("Muestro de nuevo la pantalla de login")
        this.mostrarlogin=true
        this.mostraralta=false
        this.mostrarcuentas=false
        this.mostrarmovimientos=false
        this.mostrartransferencias=false
        this.mostrarexterna=false
        this.mensaje="Introduzca su Usuario"
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
